<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <cdk-virtual-scroll-viewport cdkDropList itemSize="4" class="example-viewport" (cdkDropListDropped)="drop($event)">
    
    <ion-list *cdkVirtualFor="let p of products">
      <ion-item  class="example-item"  cdkDrag [routerLink]="'/tabs/details/' + p._id"  routerDirection="forward">
        <ion-icon name="desktop" slot="start" ></ion-icon>
        {{p.prod_name}}
        <div class="item-note" slot="end">
          {{p.prod_price | currency}}
        </div>
      </ion-item>
  </ion-list>
  </cdk-virtual-scroll-viewport>
</ion-content>